
.content-wrapper {
    margin-left: 13vw;
    margin-right: 13vw;
    padding: 0;
}

.filter-row {
    margin-top: 3vh;
}

.filter-row ul {
    padding: 0;
}

.filter-row li {
    list-style-type: none;
    margin-right: 2vw;
    display: inline;
}

.catalog-wrapper {
    display: grid;
    grid-template-columns: 6fr 1fr;
}

.catalog {
    display: grid;
    width: 100%;
    justify-content: space-between;
    grid-gap: 2vw;
    flex-wrap: wrap;
    grid-template-columns: auto 1fr;
    grid: minmax(0, min-content) / repeat(auto-fill, 150px);
    margin-top: 5vh;
}

.film-card {
    font-size: 0.700rem;
}

.film-card img {
    width: 100%;
    min-height: 230px;

}

.film-card a {
    outline: none;
    text-decoration: none;
    color: #e5e5e5;
}

.film-card a:hover {
    color: cadetblue;
}

.film-name {
    padding-top: 5px;
    color: #FED300;
    padding-bottom: 5px;
    font-size: 0.800rem;
    font-weight: bold;
}

.film-name a {
    color: #FED300;
}

.film-image {
    position: relative;
}

.add_to_watchlist {
    display: inline-block;
    position: absolute;
    background-color: cadetblue;
    top: 0;
    right: 0;
    border-radius: 2px;
    z-index: 2;
}

.add_to_watchlist:hover {
    background-color: aliceblue;
}

.fa-circle-check {
    font-size: 16px;
    padding: 5px;
}

.a-circle-check:hover {
    color: cadetblue;
}

.fa-bookmark {
    font-size: 16px;
    padding: 5px;
}

.fa-bookmark:hover {
    color: cadetblue;
}

.sort-link {
    text-decoration: none;
    text-align: center;
    color: #e5e5e5;
    padding: 10px;
}

.sort-link:hover {
    color: cadetblue;
}

.sort-link.active {
    background-color: #333333;
}

/*Фильтры*/
#filter-form {
    margin-left: 5vw;
    margin-top: 5vh;
}

#filter-form button{
     margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#filter-form button:hover{
    background-color: #356184;
    color: aliceblue;
}

.checkbox-group {
    margin-top: 10px;
    max-height: 175px;
    min-width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.checkbox-group::-webkit-scrollbar {
    width: 10px;
}

.checkbox-group::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
}

.checkbox-group::-webkit-scrollbar-thumb {
    background-color: #356184;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
                                        color-stop(.5, rgba(255, 255, 255, .25)),
                                        color-stop(.5, transparent), to(transparent));
}


.filter-title {
    color: #f09819;
    font-weight: bold;
}

.ui-checkbox {
    display: block;

}