.content-wrapper {
    margin-top: 5vh;
    margin-right: 13vw;
    margin-left: 13vw;
}

.description {
    margin-top: 5vh;
}

.synopsis {
    margin-top: 3vh;
}

.film-info {
    display: grid;
    grid-template-columns: 200px 1fr;
    max-width: 550px;
}

.film-name {
    color: #FED300;
}

.poster img {
    width: 166px;
}

a {
    text-decoration: none;
    color: cadetblue;
}

a:hover {
    color: #FED300;
}

.rating {
  border: none;
  float: left;
}

.rating > label {
  color: #90A0A3;
  float: right;
}

.rating > label:before {
  margin: 5px;
  font-size: 20px;
  font-family: FontAwesome;
  content: "\f005";
  display: inline-block;
}

.rating > input {
  display: none;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #F79426;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FECE31;
}

.fa-star{
    color: gold;
}

.person a{
    color: #b1c5c9;
}

.person a:hover{
    color: #FED300;
    text-decoration: dotted underline;
}
/*review styles*/

.reviews-wrapper {
    margin: 0;
    width: 100%;
}

.review-title {
    font-size: 1.5rem;
    padding-top: 2vh;
    font-weight: bold;
    margin: 0;
    color: #f09819;
}

.review-card {
    display: grid;
    grid-template-rows: 60px auto;
    margin: 5vh 13vw;
    padding: 2vh;

}

.user-info {
    display: grid;
    grid-template-columns: 30px auto auto;
    align-items: center;
    font-weight: bold;
}

.user-name {
    margin-left: 30px;
}

.positive {
    background-color: #8dcb64;
}

.negative {
    background-color: #ff512f;
}

.user-image img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.review-time {
    justify-self: right;
    font-size: 0.8rem;
}


.review-form-wrapper {
    margin: 0 13vw;
    margin-top: 1vh;
}

.review-button {
    margin: 3vh 0;
    width: 22vw;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.review-form select {
    margin-top: 3vh;
    background-color: #333333;
    height: 30px;
}

.review-form select {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #333333;
    width: 22vw;
    color: #e5e5e5;
}
.review-form select option[value='positive'] {
    background-color: #8dcb64;
    color: #121212;
}

.review-form select option[value='negative'] {
    background-color: #ff512f ;
    color: #121212;
}

.review-form textarea {
    resize: none;
    margin-top: 3vh;
    background-color: #333333;
    border: none;
    width: 20vw;
    font-size: 1rem;
    color: #e5e5e5;
    padding: 1vw;

}

.review-body{
    padding-left: 60px;
    padding-bottom: 20px;
}

.review-form{
    padding-top: 20px;
}

.review-form-title{
    border-top: #e5e5e5 1px solid;
    font-size: 1.2rem;
    margin-top: 10px;
    padding-top: 10px;
}
