.paginator {
    position: absolute;
    bottom: 3vh;
    left: 0;
    right: 0;
    text-align: center;
}

.container {
    padding: 0;
}

.container li {
    display: inline;
    margin-right: 5px;
    list-style: none;

}

.pagination a {
    text-decoration: none;
    color: aliceblue;
    padding: 15px;
    border-radius: 5px;
    background-color: #333;
}


.pagination a:hover {
    text-decoration: none;
    background-color: #505050;

}

.active a{
    background-color: #ff512f;
}

.active a:hover{
    background-color: #a92e17;
}