{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='{% static 'users/css/login.css' %}'>
{% endblock %}

{% block content %}
{#    <div class="background">#}
{#        <div class="shape"></div>#}
{#        <div class="shape"></div>#}
{#    </div>#}


    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <h3>Войти</h3>
        <label for="username">Имя пользователя</label>
        <input id='username' type="text" name="username" placeholder="Введите имя пользователя">

        <label for="password">Пароль</label>
        <input id='password' type="password" name="password" placeholder="Введите пароль">

        <button type="submit">Войти</button>
        <div class="login">
            Еще нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a>
        </div>
    </form>

{% endblock %}
