.profile-form *,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.profile-form {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    justify-self: center;
}

.profile-form * {
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.profile-form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.profile-form label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.profile-form input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.profile-form ::placeholder {
    color: #e5e5e5;
}

.profile-form button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}


.form-wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

 i{
    font-size: 30px;
}

#id_bio{
    background-color: #121212;
    padding: 15px;
    font-size: 15px;
}

#id_genres, #id_keyword{
    background-color: #121212;
}

